body{
    background-color:#2f2f2f;
}
.header{
    color:#00ffff;
    background-color: black;
    font-size: larger;
    padding: 10px;

}
.movie h2{
    color:#e0e0e0;
}
.movie h3{
    color:dar;
} 
.movie img{
    height: 550px;
    width: 700px;
}